## Carga la data y primera exploraci√≥n

In [5]:
import pandas as pd

df_cleaned = pd.read_csv("../data/cleaned/diabetes_cleaned.csv")

df_cleaned.head()

,id,full_name,age,gender,smoking_status,bmi,blood_pressure,glucose_levels,condition
0,1,User0001,53,male,non-smoker,27.340637,134.832624,135.082933,Pneumonia
1,2,User0002,30,male,non-smoker,27.340637,105.315064,135.082933,Diabetic
2,3,User0003,18,male,non-smoker,35.612486,134.832624,135.082933,Pneumonia
3,4,User0004,53,male,non-smoker,27.340637,99.119829,135.082933,Pneumonia
4,5,User0005,76,male,non-smoker,27.340637,134.832624,135.082933,Diabetic

## Tipos de datos de las columnas

In [6]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10000 non-null  int64
 1   full_name       10000 non-null  object
 2   age             10000 non-null  int64
 3   gender          10000 non-null  object
 4   smoking_status  10000 non-null  object
 5   bmi             10000 non-null  float64
 6   blood_pressure  10000 non-null  float64
 7   glucose_levels  10000 non-null  float64
 8   condition       10000 non-null  object
dtypes: float64(3), int64(2), object(4)
memory usage: 703.3+ KB

## Valores faltantes

In [7]:
df_cleaned.isna().sum()

id                0
full_name         0
age               0
gender            0
smoking_status    0
bmi               0
blood_pressure    0
glucose_levels    0
condition         0
dtype: int64